* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #232323;  
} 

h1 {
  color: #fff;  
}

div { 
  height: 100px;
  width: 100px;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
}