.container {
  position: relative;
  height: 600px;
  width: 80%;
  background-color: azure;
  margin: 10px auto;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.container div {
  height: 100px;
  width: 300px;
  text-align: center;
  font-size: 1.5em;
}

#orange {
  background-color: #ffa500;
  height: 200px;
  font-size: 3.5em;
  align-self: flex-end;
}

h1 {
  text-align: center;
}

#violet {
  background-color: #70369d;
}

#indigo {
  background-color: #4b369d;
}

#blue {
  background-color: #487de7;
  height: 75px;
}

#green {
  background-color: #79c314;
}

#yellow {
  background-color: #faeb36;
}

#red {
  background-color: #e81416;
}
